:root {
  --purp: #C271FF;
  --white: #FFF;
  --blac: #071629;
  --tiny: 2px;
  --small: 12px;
  --smedium: 13px;
  --ms: 14px;
  --medium: 16px;
  --mm: 18px;
  --ml: 20px;
  --large: 64px;
  --xxxlarge: 120px;
  --opacity-value: 0.9;
  --background-color: #071629;
  --font-family-1: "Source Sans Pro", sans-serif;
  --font-family-2: "Spin Cycle OT", sans-serif;
  --font-family-3: Coiny, sans-serif;
  --color-white: #FFF;
  --nav-line-height: 2px;
  --pros-padding: 62px;
  --quotes-arrows-pad: 300px;
  --popular-arrows-x: -8vw;
  --smile-p-margin: 20px;
  --check-color: #82d24f;
  --faq-pad-inner: 8vw;
  --faq-pad-outer: 7vw;
}

@font-face {
  font-family: regularFont;
  src: url(source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: lightFont;
  src: url(source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
  font-family: extraLightFont;
  src: url(source-sans-pro/SourceSansPro-ExtraLight.otf);
}

.hero-section {
  background-image: url("images/pic_1.jpg");
  background-color: var(--background-color);
  max-width: 100%;
  height: auto;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section .navbar-line1 {
  background-color: var(--color-white);
  height: var(--nav-line-height);
  width: 20px;
  display: block;
}
.hero-section .navbar-line2 {
  background-color: var(--color-white);
  height: var(--nav-line-height);
  width: 13px;
  display: block;
}
.hero-section .navbar-line3 {
  background-color: var(--color-white);
  height: var(--nav-line-height);
  width: 18px;
  display: block;
}

.hero-section .nav-link {
  font-size: 12px;
}

.hero-section .nav-link:after {
  content: "";
  display: block;
  background-color: var(--color-white);
  width: 0;
  height: 2px;
  top: 4px;
  position: relative;
  transition: 180ms;
}

.hero {
  margin-top: 155px;
}
.hero h1 {
  font-size: 120px;
}

.hero .list-group-item {
  background-color: transparent;
  border: 0;
  outline: none;
  color: #fff;
}

.btn.btn-smile {
  background-color: var(--purp);
  width: 162px;
  height: 44px;
  font-size: 14px;
  border-radius: 22px;
  filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}
.pro h3 {
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
}

.pro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.pro span {
  display: block;
  font-size: 1rem;
  font-style: italic;
  line-height: 24px;
}
.pros-list {
  list-style: none;
  padding-top: 87px;
  padding-bottom: 98px;
  margin-bottom: 0em;
}
@media screen and (max-width: 767px) {
  .pro1,
  .pro2 {
    padding-bottom: 58px;
  }

  .pros-list {
    padding-left: 0px;
  }
}

@media screen and (max-width: 575px) {
  .hero h1 {
    font-size: 61px;
  }

  .pricing-hero-section .navbar-nav li:nth-child(2) a:after {
    width: 0%;
  }

  .courses-hero-section .navbar-nav li:nth-child(1) a:after {
    width: 0%;
  }

  .pros-list {
    padding-left: 0px;
  }
}
.hero-learn {
  font-size: 2rem;
  margin-top: 168px;
  margin-bottom: 0;
}

.hero-learn span {
  color: var(--purp);
}

.section-header h2 {
  font-weight: 300;
}

.section-header span {
  font-weight: bold;
}

.btn:hover,
.btn:active {
  opacity: var(--opacity-value);
}

.main-color {
  color: var(--purp);
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  color: var(--white);
  position: relative;
  width: 100%;
  background-image: url(images/hnbbgr.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .container {
  justify-content: space-between;
  align-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
}

.smilelogo {
  display: flex;
}

.smile {
  width: 3.2rem;
  height: 2.35rem;
  margin: 1rem;
}

.logo {
  width: 10rem;
  height: 2.45rem;
  margin: 1rem 0rem 1rem 0rem;
}

#hamburger {
  display: none;
  position: absolute;
}

#burger {
  display: none;
  position: absolute;
}

.menu {
  display: inline-flex;
  list-style-type: none;
  font-size: var(--ms);
  font-weight: 700;
  font-family: regularFont;
  padding: 0;
  margin: auto 0;
}

.menu li {
  margin: auto 1.25rem;
}

.banner-text {
  width: 75%;
  text-align: center;
  font-family: regularFont;
  margin: 5rem auto 0 auto;
}

.banner-text h1 {
  position: relative;
  font-size: var(--xxxlarge);
  font-style: normal;
  font-weight: 700;
}

.banner-text p {
  color: var(--white);
  text-align: center;
  font-family: regularFont;
  font-style: normal;
  line-height: normal;
  word-spacing: 50px;
}

.banner {
  color: #FFF;
  text-align: center;
  width: 100%;
  /* height: 1180px; */
  height: 874px;
}

.banner span {
  color: var(--purp);
  font-weight: 700;
  font-family: regularFont;
}

button {
  color: var(--white);
  background: var(--purp);
  border-radius: 25px;
  font-family: regularFont;
  font-size: var(--ms);
  font-weight: 700;
  margin: 1rem 0 0 0;
  cursor: pointer;
  opacity: 1;
  padding: 1rem 2rem;
  border: none;
}

.banner h2 {
  color: #FFF;
  text-align: center;
  font-family: extraLightFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 120px;
  margin-bottom: 50px;
}

.people {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  text-align: center;
  align-items: end;
  font-family: regularFont;
  margin: 2rem 0;
}

.people .person {
  margin: 0.5rem;
}

.people .person img {
  height: 150px;
  flex-shrink: 0;  
  border-radius: 50%;
}

.people .person h3 {
  font-family: regularFont;
  font-size: var(--mm);
}

.people .person p {
  width: 100%;
  font-size: var(--ms);
  font-style: italic;
  padding: 0;
  margin: 0;
}

.videos {
  background-color: #FFF;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.videos h1 {
  color: #071629;
  text-align: center;
  font-family: regularFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0px 0px 50px 0px;
  margin: 0px;
}

#videos-div {
    width: 1100px;
    height: 335px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
}

.video-div {
  width: 255px;
  height: 335px;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(7, 22, 41, 0.18);
  z-index: 1;
}

.videos span {
  color: var(--purp);
}

#play-btn1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: regularFont;
  width: 255px;
  height: 154px;
  background: url('./images/tutor1.png');
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
  z-index: 2;
}

#play-btn2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 154px;
  background: url('./images/tutor2.png') center/cover no-repeat;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
  z-index: 2;
}

#play-btn3 {  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 154px;
  background: url('./images/tutor3.png') center/cover no-repeat;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
  z-index: 2;
}

#play-btn4 {  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 154px;
  background: url('./images/tutor4.png') center/cover no-repeat;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
  z-index: 2;
}

.video-div h2 {
  color: #071629;
  font-family: regularFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 106px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.video-div p {
  color: rgba(7, 22, 41, 0.50);
  font-family: regularFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  padding-left: 10px;
  margin: 0px 10px;
  text-align: left;
  word-spacing: -1px;
}

#smallImage {
  display: flex;
  justify-content: space-around;
  margin-left: 0;
}

#smallImage img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
}

#smallImage h3 {
  color: var(--purp);
  font-family: regularFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 192.857% */
}

.rating {
  display: flex;
  justify-content: space-around;
}

.rating img {
  width: 107px;
  height: 14px;
  flex-shrink: 0;
  /* margin-left: 0px; */
  padding: 10px 10px 10px 0px;
}

.rating p {
  color: var(--purp);
  text-align: right;
  font-family: lightFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 192.857 */
}

.member {
  display: flex;
  background-color: #071629;
  font-family: regularFont;
  width: 100%;
  height: 502px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.member span {
  color: var(--purp);
}

.member h1 {
  color: #FFF;
  font-family: regularFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 80px;
  /* text-align: center; */
  margin-bottom: 0px;
}

.member div {
  display: flex;
}

.membership {
  display: flex;
  width: 257px;
  height: 153px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: regularFont;
}

.membership img {
  width: 43.67px;
  height: 35.35px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 0px;
}

.membership h2 {
  width: 257px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: regularFont;
}

.membership p {
  color: #FFF;
  width: 220px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714 */
  word-spacing: -1px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-family: lightFont;
}

button {
  margin-top: 0px;
  margin-bottom: 60px;
}

#faq {
  display: flex;
  background-color: #FFF;
  width: 100%;
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#faq-cont {
  width: 920px;
  height: 100%;
  flex-shrink: 0;
  margin-top: 0px;
}

#faq h1 {
  color: #071629;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 80px;
  margin-left: 0;
  /* text-align: center; */
  margin-bottom: 0px;
}

.faq-qna {
  font-family: regularFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.block {
  display: flex;
  width: 350px;
  height: 260px;
  /* flex-shrink: 0; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}

.block h2 {
  color: #071629;
  font-size: 16px;
  font-family: regularFont;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 70px;
  margin-bottom: 20px;
}

.block p {
  color: rgba(7, 22, 41, 0.50);
  width: 330px;
  font-size: 14px;
  font-family: regularFont;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  word-spacing: -1px;
  margin-top: 0px;
  z-index: 2;
}

footer {
  width: 100%;
  height: 249px;
  flex-shrink: 0px;
  background: #071629;
}

.foot-notes {
  width: 75%;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-left: 75px;
  padding-top: 80px;
}

.foot-notes div {
  align-items: left;
}

footer p {
  color: #FFF;
  font-family: regularFont;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  word-spacing: -1px;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  header {background-position: 42% 50%;}
}

@media screen and (max-width: 1180px) {
  header {background-position: 42% 50%;}

  .qcontainer {
    background-color: #C271FF;
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .carousel-item {
    width: 50%;
    margin-top: 100px;
    margin-left: 20%;
  }

  .carousel-item img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding-right: 0;
    margin-right: 0;
    align-items: end;
  }

  .carousel-item blockquote {
    color: var(--white);
    width: 100%;
    height: 100px;
    font-family: regularFont;
    font-size: var(--ml);
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    word-spacing: -1px;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .carousel-item p {
    color: var(--white);
    width: 100%;
    height: 20px;
    font-family: regularFont;
    font-size: var(--ml);
    font-weight: 400;
    line-height: 33.6px;
    margin-left: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 880px) {
  header {background-position: 43% 50%;}

  .banner-text {
    width: 100%;
    margin: 5rem auto 0 auto;
  }

  .banner-text h1 {
    position: relative;
    font-size: var(--xxxlarge);
    font-style: normal;
    font-weight: 700;
  }
}

@media screen and (max-width: 660px) {
  header {
    background-position: 44% 50%;
    height: 170%;
    background-size: cover;
  }

  header .container nav {
    flex-direction: column;
    align-items: center;
  }

  .smilelogo {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

  .smile {
    width: 2.3rem;
    height: 1.7rem;
    margin: 0.5rem 0 0 4rem;
  }

  .logo {
    width: 8rem;
    height: 1.96rem;
    margin: 1rem 1rem 0 1.25rem;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: var(--ms);
    margin: 0.5rem auto auto 0;
  }

  .menu li {
    width: 100%;
    margin: 0.5rem auto;
  }

  .menu li #lastli {
    margin-bottom: 0;
  }

  #burger {
    background-color: var(--white);
    width: 0.8rem;
    height: 0.125rem;
    position: absolute;
    left: 1rem;
    top: 1.125rem;
    display: block;
  }

  #burger::before {
    content: "";
    background-color: var(--white);
    width: 1.25rem;
    height: 0.125rem;
    position: relative;
    top: -0.4rem;
    display: block;
  }

  #burger::after {
    content: "";
    background-color: var(--white);
    width: 1.125rem;
    height: 0.125rem;
    position: relative;
    top: 0.3rem;
    display: block;
  }

  #hamburger:checked ~ .menu {
    display: inline-flex;
  }

  #hamburger:checked ~ #burger {
    background: transparent;
  }

  #hamburger:checked ~ #burger::before {
    transform: rotate(45deg);
    top: 0.2rem;
    margin: auto;
  }

  #hamburger:checked ~ #burger::after {
    width: 1.25rem;
    transform: rotate(-45deg);
    top: 0.06rem;
    margin: auto;
  }

  .banner-text {
    width: 100%;
    margin: 5rem auto 0 auto;
  }

  .banner-text h1 {
    position: relative;
    font-size: var(--large);
    font-style: normal;
    font-weight: 700;
  }

  .banner h2 {
    margin-bottom: 35px;
  }

  .people {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .people .person {
    margin: 1rem;
  }

  .people .person p {
    width: 95%;
  }

.qcontainer {
  background-color: #C271FF;
  background-position: 50% 50%;
  width: 100%;
  height: 150%;
  background-size: cover;
}

.qcontainer .leftarr img {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 1;
}

.qcontainer .rightarr img {
  position: absolute;
  top: 100px;
  right: 50px;
}

.carousel-item {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  left: 55px;
}

.carousel-item img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  align-items: center;
}

.carousel-item blockquote {
  color: var(--white);
  width: 100%;
  height: 100px;
  font-family: regularFont;
  font-size: var(--ml);
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  word-spacing: -1px;
  margin-top: 160px;
  align-items: center;
}

.carousel-item p {
  /*color: var(--white);*/
  color: black;
  width: 100%;
  height: 50px;
  font-family: regularFont;
  font-size: var(--ml);
  font-weight: 400;
  line-height: 33.6px;
  margin-bottom: 10px;
  align-items: center;
}
}

/* section quote */
.quotes-section {
  height: 392px;
  background-color: var(--purp);
}

.quotes-section .carousel-item img {
  width: 160px;
  border-radius: 75px;
  margin-left: 10px;
}

.quote-text {
  padding-left: 53px;
}

.quotes-section .row [class*="col"] {
  padding-left: 0;
  padding-right: 0;
}

.quote-text p {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 22px;
}

.quote-text h4 {
  font-size: 22px;
}
.quote-text span {
  font-style: italic;
  font-size: 22px;
}

.qcontainer {
  background-color: #C271FF;
  width: 100%;
  height: 350px;
  background-size: cover;
  justify-content: center;
}

.qcontainer .leftarr img {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 1;
}

.qcontainer .rightarr img {
  position: absolute;
  top: 100px;
  right: 50px;
}

.carousel-item {
  width: 60%;
  margin-top: 100px;
  margin-left: 20%;
}

.carousel-item img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding-right: 0;
  margin-right: 0;
  align-items: end;
}

.carousel-item blockquote {
  color: var(--white);
  width: 150%;
  height: 100px;
  font-family: regularFont;
  font-size: var(--ml);
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  word-spacing: -1px;
  margin-left: -200px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.carousel-item p {
  color: var(--white);
  width: 100%;
  height: 20px;
  font-family: regularFont;
  font-size: var(--ml);
  font-weight: 400;
  line-height: 33.6px;
  margin-left: -200px;
  padding-top: 0;
  margin-top: 0;
}

.carousel-item .italic {
  font-family: LightFont;
  text-align: left;
  font-style: italic;
  word-spacing: -1px;
}

.quotes-section .carousel-control-prev.arrow-left {
  padding-right: var(--quotes-arrows-pad);
}

.quotes-section .carousel-control-next.arrow-right {
  padding-left: var(--quotes-arrows-pad);
}

@media screen and (max-width: 991px) {
  .quotes-section .carousel-item img {
    margin-left: 80px;
  }
  .quote-text {
    padding-left: 43px;
  }
}

@media screen and (max-width: 767px) {
  .quotes-section .carousel-item img {
    margin-left: 40px;
  }
}

@media screen and (max-width: 575px) {
  :root {
    --arrow-move-y: 40%;
    --arrow-move-x: 13px;
  }
  .quotes-section {
    height: auto;
  }
  .quotes-section .carousel-item img {
    margin: 90px auto 0 auto;
    padding-bottom: 10px;
  }
  .quotes-section .carousel-item .quote-text {
    padding-bottom: 103px;
  }

  .quotes-section .carousel-control-prev.arrow-left {
    bottom: var(--arrow-move-y);
    left: var(--arrow-move-x);
  }

  .quotes-section .carousel-control-next.arrow-right {
    bottom: var(--arrow-move-y);
    right: var(--arrow-move-x);
  }

  .quote-text {
    padding: 0px;
    padding-top: 24px;
  }
}

.pricing-hero-section .navbar-nav li:nth-child(2) a {
  color: var(--purp) !important;
}

.pricing-hero-section .navbar-nav li:nth-child(2) a:after {
  width: 100%;
}

.courses-hero-section .navbar-nav li:nth-child(1) a {
  color: var(--purp) !important;
}

.courses-hero-section .navbar-nav li:nth-child(1) a:after {
  width: 100%;
}

.carousel-control-prev img,
  .carousel-control-next img {
    width: 30px;
  }

/* Pricing */
.pricing-section {
  background-image: url(images/pic_2.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: var(--white);
}

.pricing-section .navbar1 {
  background-color: var(--white);
  height: var(--tiny);
  width: var(--ml);
  display: block;
}
.pricing-section .navbar2 {
  background-color: var(--white);
  height: var(--tiny);
  width: var(--smedium);
  display: block;
}
.pricing-section .navbar3 {
  background-color: var(--white);
  height: var(--tiny);
  width: var(--mm);
  display: block;
}
.pricing-section .nav-link {
  font-size: var(--small);
}
.pricing-section .nav-link:after {
  content: "";
  display: block;
  background-color: var(--white);
  width: 0;
  height: var(--tiny);
  top: 4px;
  position: relative;
  transition: 180ms;
}
.go-pro {
  color: var(--white);
  font-size: 80%;
}

.popular .carousel-control-prev.arrow-left {
  left: var(--popular-arrows-x);
}

.popular .carousel-control-next.arrow-right {
  right: var(--popular-arrows-x);
}

.section .card {
  border: 0px;
  width: 20rem;
}

.section .card-text {
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 1280px) {
  :root {
    --popular-arrows-x: -4vw;
  }
  .section .card {
    width: 19vw;
  }
}

@media screen and (max-width: 1150px) {
  :root {
    --popular-arrows-x: -3vw;
  }
  .section .card-img-overlay {
    top: 4%;
  }
  .section .card-img-overlay img {
    width: 35%;
  }
}

@media screen and (max-width: 991px) {
  :root {
    --popular-arrows-x: -3vw;
  }

  .section .card {
    width: 16rem;
  }
  .section .card-img-overlay img {
    width: 30%;
  }
  .section .card-img-overlay {
    top: 5%;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --popular-arrows-x: -6vw;
  }
  .section .card {
    width: 16rem;
  }
}

@media screen and (max-width: 575px) {
  :root {
    --popular-arrows-x: -15px;
  }
  .section .card-img-overlay img {
    width: 30%;
  }
  .section .card-img-overlay {
    top: 5%;
  }
}

.free-section {
  color: var(--color-white);
  background: #071629;
}

.purple-text {
  color: #C271FF;
}

.btn-register {
  background-color: #C271FF;
}

/* Pricing section */
  
.pricing-section {
  background-image: url(images/pic_2.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: var(--white);
}

.pricing-section .navbar1 {
  background-color: var(--white);
  height: var(--tiny);
  width: var(--ml);
  display: block;
}
.pricing-section .navbar2 {
  background-color: var(--white);
  height: var(--tiny);
  width: var(--smedium);
  display: block;
}
.pricing-section .navbar3 {
  background-color: var(--white);
  height: var(--tiny);
  width: var(--mm);
  display: block;
}

.pricing-section .nav-link {
  font-size: var(--small);
}

.pricing-section .nav-link:after {
  content: "";
  display: block;
  background-color: var(--white);
  width: 0;
  height: var(--tiny);
  top: 4px;
  position: relative;
  transition: 180ms;
}

.go-pro {
  color: var(--white);
  font-size: 80%;
}

.green-check {
  color: #82D24F;
}

/* faq section */

.faq-section {
  color: var(--blac);
}

.faq-title {
  padding-bottom: 2rem;
}

.faq-text {
  padding-bottom: 3rem;
}

.faq-info {
  color: rgba(7, 22, 41, 0.501584);
}

@media screen and (min-width: 769px) {
  .faq-elements {
    padding-top: 3rem;
    padding-left: 5rem;
  }

  .faq-info {
    padding-right: 8rem;
  }
}

/* Courses */

.courses-section {
  background-image: url(images/pic_3.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  color: var(--white);
}

.courses-section .navbar-line1 {
  background-color: var(--white);
  height: var(--tiny);
  width: var(--ml);
  display: block;
}
.courses-section .navbar-line2 {
  background-color: var(--white);
  height: var(--nav-line-height);
  width: var(--smedium);
  display: block;
}
.courses-section .navbar-line3 {
  background-color: var(--white);
  height: var(--tiny);
  width: var(--mm);
  display: block;
}

.courses-section .nav-link {
  font-size: var(--small);
}

.courses-section .nav-link:after {
  content: "";
  display: block;
  background-color: var(--white);
  width: 0;
  height: var(--tiny);
  top: 4px;
  position: relative;
  transition: 180ms;
}

.title-courses {
  font-family: "coiny";
}

.searcher {
  background-color: var(--purp);
}

.searcher p {
  font-size: .7rem;
}

.inner-search {
  background-color: #d195ff !important;
  width: 100% !important;
  font-size: 1.5rem !important;
  line-height: 30px !important;
  color: #fff !important;
  border-radius: 3px 3px 0px 0px !important;
  border-bottom-style: solid !important;
  border-bottom-color: var(--color-white) !important;
}

.form-control.searcher-container::placeholder {
  color: #fff;
  opacity: 0.5;
}

.fa-search:before {
  content: "\f002";
  color: var(--color-white);
}

.master-searcher {
  background-color: #d195ff;
  border-radius: 3px 3px 0px 0px !important;
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: var(--color-white);
}

/* videos */

.videos-text {
  color: rgba(7, 22, 41, 0.296247);
}

@font-face {
  font-family: 'holberton_school-icon';
  src:  url('fonts/holberton_school-icon.eot?sq4eq4');
  src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
    url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
    url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
    url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'holberton_school-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.holberton_school-icon-ic_instagram:before {content: "\e90a";}
.holberton_school-icon-ic_facebook:before {content: "\e908";}
.holberton_school-icon-ic_twitter:before {content: "\e90f";}