:root {
  --white: #FFF;
  --purple: #C271FF;
  --small: 12px;
  --ms: 13px;
  --xxxlarge: 120px;
}

@font-face {
  font-family: regularFont;
  src: url(source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: lightFont;
  src: url(source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
  font-family: extraLightFont;
  src: url(source-sans-pro/SourceSansPro-ExtraLight.otf);
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  color: var(--white);
  position: relative;
  width: 100%;
  background-image: url(images/hnbbgr.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .container {
  justify-content: space-between;
  align-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
}

.logo {
  width: 10rem;
  height: auto;
}

#hamburger {
  display: none;
  position: absolute;
}

#burger {
  display: none;
  position: absolute;
}

.menu {
  display: inline-flex;
  list-style-type: none;
  font-size: var(--small);
  font-weight: 700;
  font-family: regularFont;
  padding: 0;
  margin: auto 0;
}

.menu li {
  margin: auto 1.25rem;
}

.banner-text {
  width: 75%;
  text-align: center;
  font-family: regularFont;
  margin: 10.5rem auto 0 auto;
}

.banner-text h1 {
  position: relative;
  /* font-family: thinFont;
  text-align: center; */
  font-size: var(--xxxlarge);
  font-style: normal;
  font-weight: 700;
  /* line-height: normal;
  align-items: center;
  margin-top: 220px;
  margin-bottom: 0px; */
}

.banner-text p {
  color: var(--white);
  text-align: center;
  font-family: regularFont;
  font-style: normal;
  line-height: normal;
  word-spacing: 50px;
}

.banner {
  color: #FFF;
  text-align: center;
  width: 100%;
  /* height: 1180px; */
  height: 874px;
}

span {
  color: #C271FF;
  font-weight: 700;
  font-family: regularFont;
}

button {
  color: var(--white);
  background: var(--purple);
  border-radius: 25px;
  /*width: 162px;
  height: 44px;
  flex-shrink: 0;*/
  font-family: regularFont;
  font-size: var(--ms);
  font-weight: 700;
  margin: 1rem auto;
  cursor: pointer;
  opacity: 1;
  padding: 1rem 2rem;
  border: none;
}

h2 {
  color: #FFF;
  text-align: center;
  font-family: extraLightFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 150px;
  margin-bottom: 70px;
}

#people {
  display: inline-flex;
  width: 1100px;
  height: 150px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
}

.person {
  width: 150px;
  height: 230px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  /* font-family: "Source Sans Pro"; */ 
}

.person img {
  height: 150px;
  flex-shrink: 0;  
  border-radius: 50%;
}

.person h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 27px; /* 150% */
  font-family: thinFont;
  margin-bottom: 5px;
}

.person p {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 150% */
  white-space: nowrap;
  word-spacing: -1px;
  font-family: extraLightFont;
  margin-top: 0px;
  margin-bottom: 0px;
}

.quote {
  background-color: #C271FF;
  width: 100%;
  /* height: 392px; */
  height: 350px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

#quote-div {
  /* width: 943px; */
  width: 85%;
  height: 160px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.quote img {
  width: 160px;
  height: 160px;
  flex-shrink: 0;  
  border-radius: 50%;
}

.quote blockquote {
  color: #FFF;
  width: 730px;
  height: 100px;
  font-family: lightFont;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px; /* 152.72% */
  word-spacing: -1px;
  margin: 0px;
}

.quote p {
  color: #FFF;
  width: 730px;
  height: 20px;
  font-family: thinFont;
  font-size: 20px;
  font-weight: 400;
  line-height: 33.6px; /* 152.72% */
  text-align: left;
 /* margin-left: 30px; */
  margin-top: 0px;
  word-spacing: -1px;
}

.bold {
  font-family: thinFont;
  font-style: normal;
  font-weight: 700;
}

.italic {
  font-family: extraLightFont;
  text-align: left;
  font-style: italic;
  word-spacing: -1px;
}

.videos {
  background-color: #FFF;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.videos h1 {
  color: #071629;
  text-align: center;
  font-family: thinFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 0px 0px 50px 0px;
  margin: 0px;
}

#videos-div {
    width: 1100px;
    height: 335px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
}

.video-div {
  width: 255px;
  height: 335px;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(7, 22, 41, 0.18);
  z-index: 1;
}

#play-btn1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: thinFont;
  width: 255px;
  height: 154px;
  background: url('./images/tutor1.png');
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
  z-index: 2;
}

#play-btn2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 154px;
  background: url('./images/tutor2.png') center/cover no-repeat;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
  z-index: 2;
}

#play-btn3 {  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 154px;
  background: url('./images/tutor3.png') center/cover no-repeat;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
  z-index: 2;
}

#play-btn4 {  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 154px;
  background: url('./images/tutor4.png') center/cover no-repeat;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px;
  background: #D8D8D8;
  z-index: 2;
}

.video-div h2 {
  color: #071629;
  font-family: thinFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 106px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.video-div p {
  color: rgba(7, 22, 41, 0.50);
  font-family: thinFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  padding-left: 10px;
  margin: 0px 10px;
  text-align: left;
  word-spacing: -1px;
}

#smallImage {
  display: flex;
  justify-content: space-around;
  margin-left: 0;
}

#smallImage img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
}

#smallImage h3 {
  color: #C271FF;
  font-family: thinFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 192.857% */
}

.rating {
  display: flex;
  justify-content: space-around;
}

.rating img {
  width: 107px;
  height: 14px;
  flex-shrink: 0;
  /* margin-left: 0px; */
  padding: 10px 10px 10px 0px;
}

.rating p {
  color: #C271FF;
  text-align: right;
  font-family: lightFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 192.857 */
}

.member {
  display: flex;
  background-color: #071629;
  font-family: thinFont;
  width: 100%;
  height: 502px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.member h1 {
  color: #FFF;
  font-family: thinFont;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 80px;
  /* text-align: center; */
  margin-bottom: 0px;
}

.member div {
  display: flex;
}

.membership {
  display: flex;
  width: 257px;
  height: 153px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: thinFont;
}

.membership img {
  width: 43.67px;
  height: 35.35px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-bottom: 0px;
}

.membership h2 {
  width: 257px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: thinFont;
}

.membership p {
  color: #FFF;
  width: 220px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714 */
  word-spacing: -1px;
  margin-left: 5px;
  margin-bottom: 0px;
  font-family: lightFont;
}

button {
  margin-top: 0px;
  margin-bottom: 60px;
}

#faq {
  display: flex;
  background-color: #FFF;
  width: 100%;
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#faq-cont {
  width: 920px;
  height: 100%;
  flex-shrink: 0;
  margin-top: 0px;
}

#faq h1 {
  color: #071629;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 80px;
  margin-left: 0;
  /* text-align: center; */
  margin-bottom: 0px;
}

.faq-qna {
  font-family: thinFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.block {
  display: flex;
  width: 350px;
  height: 260px;
  /* flex-shrink: 0; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}

.block h2 {
  color: #071629;
  font-size: 16px;
  font-family: thinFont;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 70px;
  margin-bottom: 20px;
}

.block p {
  color: rgba(7, 22, 41, 0.50);
  width: 330px;
  font-size: 14px;
  font-family: thinFont;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  word-spacing: -1px;
  margin-top: 0px;
  z-index: 2;
}

footer {
  width: 100%;
  height: 249px;
  flex-shrink: 0px;
  background: #071629;
}

.foot-notes {
  width: 75%;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  margin-left: 75px;
  padding-top: 80px;
}

.foot-notes div {
  align-items: left;
}

footer p {
  color: #FFF;
  font-family: thinFont;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  word-spacing: -1px;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  header {background-position: 42% 50%;}
}

@media (max-width: 480px) {
  header {background-position: 44% 50%;}

  header .container nav {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 50%;
    height: auto;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: var(--ms);
    margin: 1rem auto;
  }

  .menu li {
    width: 100%;
    margin: 0.5rem auto;
  }

  #burger {
    background-color: var(--white);
    width: 0.8rem;
    height: 0.125rem;
    position: absolute;
    left: 1rem;
    top: 1.125rem;
    display: block;
  }

  #burger::before {
    content: "";
    background-color: var(--white);
    width: 1.25rem;
    height: 0.125rem;
    position: relative;
    top: -0.4rem;
    display: block;
  }

  #burger::after {
    content: "";
    background-color: var(--white);
    width: 1.125rem;
    height: 0.125rem;
    position: relative;
    top: 0.3rem;
    display: block;
  }

  #hamburger:checked ~ .menu {
    display: inline-flex;
  }

  #hamburger:checked ~ #burger {
    background: transparent;
  }

  #hamburger:checked ~ #burger::before {
    transform: rotate(45deg);
    top: 0.2rem;
    margin: auto;
  }

  #hamburger:checked ~ #burger::after {
    width: 1.25rem;
    transform: rotate(-45deg);
    top: 0.06rem;
    margin: auto;
  }

  .banner-text {
    width: 100%;
    margin: 14rem auto 0 auto;
  }
}